.logo {
  height: 50px;
  width: 120px;
  filter: brightness(0) invert(1);
}
.login-logo {
  height: 50px;
  width: 120px;
  filter: brightness(1) invert(0);
}
.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../static/images/Rectangle\ 1.png);
  background-size: cover;
  background-position: bottom;
  height:100vh;
}

.icon {
  filter: brightness(0) invert(1);
}
.login-icon {
  filter: brightness(1) invert(0);
}
.search {
  border: 1px solid rgba(255, 255, 255, 0.781);
}

.css-15eu3oc-MuiPaper-root-MuiAppBar-root {
  box-shadow: 0px 0px 0px 0px !important;
}
.css-7uvj7v-MuiPaper-root {
  box-shadow: 0px 0px 0px 0px !important;
}

 
